@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
body {
  color: #f5f8fa;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(6, 41, 10);
  font-family: "Lato", serif;
}

p {
  font-size: 14px;
}

header {
  width: 95%;
  padding: 10px 0;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
}
header #span {
  width: 30px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
header #span p {
  width: 30px;
  height: 3px;
  background-color: black;
  margin-top: 6px;
}
header nav {
  padding: 20px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
  color: rgb(2, 6, 8);
  font-size: 14px;
}
header nav h1 {
  margin-bottom: 10px;
  font-weight: 500;
}
header nav .navv {
  display: none;
  visibility: hidden;
}
header .nav-brand {
  margin: 0;
}
header .nav-icon {
  margin-top: 2px;
}
header .logo {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
header li {
  list-style: none;
}
header .nav-item {
  font-size: 14px;
  text-decoration: none;
  color: rgb(117, 111, 111);
  /* margin-left: ; */
}
header .nav-item:hover {
  color: black;
  background-color: rgb(240, 243, 247);
  color: rgb(160, 154, 154);
  padding: 2px;
  border-radius: 5px;
}
header li img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-top: -3px;
}
header .cart-svg {
  width: 25px;
  height: 25px;
  margin-top: 1px;
}
header span {
  color: white;
  position: relative;
  background-color: red;
  padding: 0 4px;
  border-radius: 100%;
  font-size: 12px;
  bottom: 15px;
  left: 10px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

main {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 90%;
  margin: auto;
}
main section {
  height: max-content;
  position: relative;
}
main section :nth-child(1) {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}
main section :nth-child(1) img {
  width: 100%;
  height: 300px;
}
main section .svg {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  position: absolute;
  height: 20px;
  top: 80px;
  gap: 85%;
}
main section .svg #svg-icon {
  width: 20px;
  height: 20px;
}
main section :nth-child(2) {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
main section :nth-child(2) div {
  width: 24%;
}
main section :nth-child(2) div img {
  width: 100%;
  border: 2px solid white;
  border-radius: 10px;
  height: 120px;
}
main :nth-child(2) {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 200px;
  margin: auto;
}
main :nth-child(2) .logo {
  color: gray;
  text-transform: uppercase;
  margin-bottom: 20px;
}
main :nth-child(2) p {
  color: gray;
  margin-bottom: 0;
}
main :nth-child(2) h1 {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 30px;
  width: 100%;
}
main :nth-child(2) #price {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  margin: auto;
}
main :nth-child(2) #price div {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 40%;
  height: 30px;
  margin-top: 20px;
}
main :nth-child(2) #price div :nth-child(1) {
  margin-top: 15px;
  margin: 0;
}
main :nth-child(2) #price div .discount {
  background-color: black;
  padding: 2px 8px;
  border-radius: 5px;
  color: white;
  margin-bottom: 10px;
  width: max-content;
  height: max-content;
}
main :nth-child(2) #price #oldPrice {
  margin-top: 20px;
  text-decoration: line-through;
}
main :nth-child(2) #add-to-cart {
  width: 90%;
  margin-top: -150px;
}
main :nth-child(2) #add-to-cart #increament {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 120px;
  margin: 0 auto;
}
main :nth-child(2) #add-to-cart #increament p {
  margin-top: 6px;
}
main :nth-child(2) #add-to-cart #increament b {
  color: hsl(26, 100%, 55%);
  font-size: 1.7rem;
}
main :nth-child(2) #add-to-cart input {
  background-color: hsl(26, 100%, 55%);
  width: 80%;
  height: 30px;
  border: none;
  border-radius: 6px;
  margin-top: -50px;
}
main :nth-child(2) #add-to-cart #cart {
  background-color: hsl(26, 100%, 55%);
}

@media (min-width: 768px) {
  h1,
  h2 {
    font-family: "Rubik", sans-serif;
  }
  p {
    font-size: 14px;
  }
  header {
    width: 90%;
    margin: auto;
    padding: 25px 0;
  }
  header nav {
    padding: 20px;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(2, 6, 8);
    font-size: 14px;
  }
  header .nav-brand {
    margin: 0;
  }
  header select {
    outline: none;
    border: none;
    background-color: rgba(201, 201, 206, 0.849);
  }
  header .nav-icon {
    margin-top: 2px;
  }
  header ul {
    /* width: 100%;
        padding: 20px 40px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
  }
  header li {
    list-style: none;
  }
  header .nav-item {
    font-size: 16px;
    text-decoration: none;
    color: rgb(117, 111, 111);
    /* margin-left: ; */
  }
  header .nav-item:hover {
    border-top: 3px solid navy;
    color: black;
    background-color: rgb(240, 243, 247);
    color: rgb(160, 154, 154);
    padding: 2px;
    border-radius: 5px;
  }
  header li img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
  }
  header .cart-svg {
    width: 30px;
    height: 30px;
  }
  header span {
    color: white;
    position: absolute;
    background-color: red;
    padding: 0 4px;
    border-radius: 100%;
    font-size: 12px;
  }
  #span {
    display: none;
  }
  aside {
    display: none;
  }
  main {
    width: 90%;
    margin: auto;
  }
  main #products {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  main #products .products {
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 234, 234);
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: rgb(175, 240, 175);
  }
  main #products .products .wish {
    width: fit-content;
    position: relative;
    background-color: rgb(250, 236, 154);
    border-radius: 100%;
    padding: 2px;
    margin-right: 10px;
    align-self: flex-end;
    top: 10px;
    z-index: 1;
  }
  main #products .products .wish:hover {
    background-color: rgb(250, 236, 154);
    cursor: pointer;
  }
  main #products .products .wish svg {
    margin-bottom: -5px;
    width: 18px;
    height: 18px;
  }
  main #products .products .wish svg:hover {
    width: 23px;
    height: 23px;
  }
  main #products .products .image {
    width: 100%;
    margin-top: -24px;
  }
  main #products .products .image img {
    width: 100%;
    object-fit: cover;
    height: 200px;
    border-radius: 10px 10px 0 0;
  }
  main #products .products .product_stock_btn {
    width: 40%;
    margin: 10px auto;
  }
  main #products .products .add_to_cart {
    border: none;
    padding: 10px;
    background-color: rgb(0, 255, 0);
    color: white;
    /* width: 120px  ; */
    margin: auto;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
  }
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    width: 80%;
    height: max-content;
  }
  main section {
    display: flex;
    flex-direction: column;
  }
  main section :nth-child(1) {
    height: 300px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  main section :nth-child(1) img {
    width: 100%;
  }
  main section :nth-child(2) {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  main section :nth-child(2) div {
    width: 24%;
  }
  main section :nth-child(2) div img {
    width: 100%;
    border: 2px solid white;
    border-radius: 10px;
    height: 120px;
  }
  main :nth-child(2) {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 200px;
  }
  main :nth-child(2) .logo {
    color: gray;
    text-transform: uppercase;
    margin-top: 80px;
    margin-bottom: 30px;
  }
  main :nth-child(2) p {
    color: gray;
    margin-bottom: 0;
  }
  main :nth-child(2) h1 {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 30px;
  }
  main :nth-child(2) #price div {
    display: flex;
    flex-direction: row;
    width: 25%;
    height: 30px;
    margin-top: 20px;
  }
  main :nth-child(2) #price div :nth-child(1) {
    margin: 0;
  }
  main :nth-child(2) #price div .discount {
    background-color: black;
    padding: 2px 8px;
    border-radius: 5px;
    color: white;
    margin-bottom: 5px;
    width: max-content;
    height: max-content;
  }
  main :nth-child(2) #price #oldPrice {
    text-decoration: line-through;
  }
  main :nth-child(2) #add-to-cart {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    margin-top: -150px;
  }
  main :nth-child(2) #add-to-cart #increament {
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 120px;
  }
  main :nth-child(2) #add-to-cart #increament p {
    margin-top: 6px;
  }
  main :nth-child(2) #add-to-cart #increament b {
    color: hsl(26, 100%, 55%);
    font-size: 1.7rem;
  }
  main :nth-child(2) #add-to-cart input {
    background-color: hsl(26, 100%, 55%);
    width: 30%;
    height: 30px;
    border: none;
    border-radius: 6px;
  }
  main :nth-child(2) #add-to-cart #cart {
    background-color: hsl(26, 100%, 55%);
  }
}
@media (min-width: 1100px) {
  h1,
  h2 {
    font-family: "Rubik", sans-serif;
  }
  p {
    font-size: 14px;
  }
  header {
    width: 90%;
    margin: auto;
    padding: 25px 0;
  }
  header nav {
    padding: 20px;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(2, 6, 8);
    font-size: 14px;
  }
  header .nav-brand {
    margin: 0;
  }
  header select {
    outline: none;
    border: none;
    background-color: rgba(201, 201, 206, 0.849);
  }
  header .nav-icon {
    margin-top: 2px;
  }
  header ul {
    /* width: 100%;
    padding: 20px 40px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
  }
  header li {
    list-style: none;
  }
  header .nav-item {
    font-size: 16px;
    text-decoration: none;
    color: rgb(117, 111, 111);
    /* margin-left: ; */
  }
  header .nav-item:hover {
    border-top: 3px solid navy;
    color: black;
    background-color: rgb(240, 243, 247);
    color: rgb(160, 154, 154);
    padding: 2px;
    border-radius: 5px;
  }
  header li img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
  }
  header .cart-svg {
    width: 30px;
    height: 30px;
  }
  header span {
    color: white;
    position: absolute;
    background-color: red;
    padding: 0 4px;
    border-radius: 100%;
    font-size: 12px;
  }
  main {
    width: 90%;
    margin: auto;
  }
  main #products {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  main #products .products {
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 234, 234);
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: rgb(175, 240, 175);
  }
  main #products .products .wish {
    width: fit-content;
    position: relative;
    background-color: rgb(250, 236, 154);
    border-radius: 100%;
    padding: 2px;
    margin-right: 10px;
    align-self: flex-end;
    top: 10px;
    z-index: 1;
  }
  main #products .products .wish:hover {
    background-color: rgb(250, 236, 154);
    cursor: pointer;
  }
  main #products .products .wish svg {
    margin-bottom: -5px;
    width: 18px;
    height: 18px;
  }
  main #products .products .wish svg:hover {
    width: 23px;
    height: 23px;
  }
  main #products .products .image {
    width: 100%;
    margin-top: -24px;
  }
  main #products .products .image img {
    width: 100%;
    object-fit: cover;
    height: 200px;
    border-radius: 10px 10px 0 0;
  }
  main #products .products .product_stock_btn {
    width: 40%;
    margin: 10px auto;
  }
  main #products .products .add_to_cart {
    border: none;
    padding: 10px;
    background-color: rgb(0, 255, 0);
    color: white;
    /* width: 120px  ; */
    margin: auto;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
  }
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    width: 80%;
    height: max-content;
  }
  main section {
    display: flex;
    flex-direction: column;
  }
  main section :nth-child(1) {
    height: 300px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  main section :nth-child(1) img {
    width: 100%;
  }
  main section :nth-child(2) {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  main section :nth-child(2) div {
    width: 24%;
  }
  main section :nth-child(2) div img {
    width: 100%;
    border: 2px solid white;
    border-radius: 10px;
    height: 120px;
  }
  main :nth-child(2) {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 200px;
  }
  main :nth-child(2) .logo {
    color: gray;
    text-transform: uppercase;
    margin-top: 80px;
    margin-bottom: 30px;
  }
  main :nth-child(2) p {
    color: gray;
    margin-bottom: 0;
  }
  main :nth-child(2) h1 {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 30px;
  }
  main :nth-child(2) #price div {
    display: flex;
    flex-direction: row;
    width: 25%;
    height: 30px;
    margin-top: 20px;
  }
  main :nth-child(2) #price div :nth-child(1) {
    margin: 0;
  }
  main :nth-child(2) #price div .discount {
    background-color: black;
    padding: 2px 8px;
    border-radius: 5px;
    color: white;
    margin-bottom: 5px;
    width: max-content;
    height: max-content;
  }
  main :nth-child(2) #price #oldPrice {
    text-decoration: line-through;
  }
  main :nth-child(2) #add-to-cart {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    margin-top: -150px;
  }
  main :nth-child(2) #add-to-cart #increament {
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 120px;
  }
  main :nth-child(2) #add-to-cart #increament p {
    margin-top: 6px;
  }
  main :nth-child(2) #add-to-cart #increament b {
    color: hsl(26, 100%, 55%);
    font-size: 1.7rem;
  }
  main :nth-child(2) #add-to-cart input {
    background-color: hsl(26, 100%, 55%);
    width: 30%;
    height: 30px;
    border: none;
    border-radius: 6px;
  }
  main :nth-child(2) #add-to-cart #cart {
    background-color: hsl(26, 100%, 55%);
  }
}

/*# sourceMappingURL=style.css.map */
